<h2>Projects Overview</h2>

<a href="/admin/project" role="button">Create New Project</a>

<table>
    <tr>
        <th>Project Name</th>        
        <th></th>
        <th></th>
    </tr>
    {{#each projects}}
    <tr>
        <td>{{this.projectName}}</td>
        <td><a href="/admin/projects/{{this.id}}">Edit</a></td>
        <td>Delete</td>
    </tr>
    {{/each}}
</table>