
<form action="/admin/projects/{{project.id}}" method="post">
    {{#if message}}
        <h3>{{message}}</h3>
    {{/if}}

    {{#if error}}
        <h3>{{error}}</h3>
    {{/if}}
    
    {{>projectEditable project}}
    <button id="save">Save Changes</button>
    <button id="delete" formaction="/admin/projects/deleteproject">Delete Project</button>
</form>