<hgroup>
    <h1 align="center">Hello, <highlighted>world</highlighted>!</h1>
    <h2 align="center">Welcome to my portfolio</h2>
</hgroup>
<br>
<br>

<article>
    <h2>About Me</h3>

        <body>
            <p>Hi, my name is Michael Pierce. I am a <strong>lifelong learner</strong> and a <strong>tech
                    tinkerer</strong>, ever since my family's first Windows 3.1 computer. Since then, I have pursued a
                variety of digital hobbies, from <ins>video editing</ins> to <ins>audio production</ins> to
                <ins>creating video games</ins>. Through these hobbies, I have learned how to learn. I know how to
                <strong>teach myself</strong> from online and text resources, and how to <strong>teach others</strong>.
            </p>
            <p>While I was pursuing game development as a hobby, I fell in love with programming. This is why I decided
                to go back to school at <strong>New Brunswick Community College</strong> for <ins>Web and Mobile
                    Application Development</ins>. Between my education and my personal projects, I have experience with
                the following:</p>


            <details>
                <summary role="button">C#</summary>
                <p>Years of experience using C# with Unity, as well as multiple classes using C# for database programming and server-side programming</p>
            </details>
            <details>
                <summary role="button">Flutter/Dart</summary>
                <p>Completed a prototype pet adoption mobile application with an administrator panel for performing CRUD actions against a NoSQL database</p>
            </details>
            <details>
                <summary role="button">Object Oriented Analysis and Design</summary>
                <p>After completing a course on OOAD, these techniques were used in all subsequent courses in my curriculum. Experience creating Class Diagrams and Sequence Diagrams from Use Cases, and experience implementing these diagrams into functional systems.</p>
            </details>
            <details>
                <summary role="button">Relational Databases/SQL</summary>
                <p>Completed course on relational database design fundamentals and normal forms. Extensive experience implementing SQL databases and queries in my second year courses</p>
            </details>
            <details>
                <summary role="button">HTML</summary>
                <p>Learned in Fundamentals of Web and expanded upon when used throughout multiple second year classes
                </p>
            </details>
            <details>
                <summary role="button">CSS</summary>
                <p>Learned in Fundamentals of Web, experimented with various CSS frameworks like Bootstrap and PicoCSS
                </p>
            </details>
            <details>
                <summary role="button">JavaScript</summary>
                <p>Multiple classes on JavaScript, including implementing server-side rendering using NodeJS, ExpressJS
                    and Handlebars</p>
            </details>
            <details>
                <summary role="button">PHP</summary>
                <p>Completed server-side portfolio project in PHP class
                </p>
            </details>
            <details>
                <summary role="button">Java</summary>
                <p>Multiple classes on Java, including using Java EE for server-side programming</p>
            </details>
        </body>

</article>


{{>topProjects}}
