<!-- Nav bar -->
    <nav>
        <ul>
            <li><a href="/" class="contrast"><strong>Michael Pierce</strong></a></li>
        </ul>
        <ul>
            {{#if isLoggedIn}}
            <li><a href="/admin">Admin</a></li>
            {{/if}}
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <!-- <li><a href="/resume">Resume</a></li> -->
            <li><a href="/contact">Contact Me</a></li>
            <li><details role="list">
                <summary aria-haspopup="listbox">Theme</summary>
                <ul role="listbox">
                    <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                    <li><a href="#" data-theme-switcher="light">Light</a></li>
                    <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                </ul>
            </details></li>            
        </ul>
    </nav>
