
<link rel="stylesheet" href="css/obfuscator.css" type="text/css">
<hgroup>
    <h3>Contact Me</h3>
    <h4>Connect with me to follow my progress!</h4>
</hgroup>

<div class="grid">
    <article>
        <header>LinkedIn</header>
        <body>
            <a href="https://www.linkedin.com/in/michaeltoddpierce/">michaeltoddpierce</a>
        </body>
    </article>
    <article>
        <header>Email</header>
        <body>
            <p class="e-mail" data-scfre="ecreip.ddot.leahcim" data-qwfhuyrt="moc.liamg">
        </body>
    </article>
    <article>
        <header>Phone</header>
        <body>
            <p class="phone" data-zxcx=" (605)+" data-dfhywb="3382-183">
        </body>
    </article>
</div>

