<hgroup>
    <h2 align="center">Projects</h2>
    <h3 align="center">Some of my latest work</h3>
</hgroup>

<div class="grid">
    {{#each projects}}
        {{>project this}}
    {{/each}}
</div>

<div class="grid">
    <a href="/projects" role="button" style="margin: 0 auto;">Click here to see more projects...</a>
</div>